# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# rest client
request.http

# vscode config
.vscode

#env file
.env

# Vagrant
.vagrant
Vagrantfile
mutagen.yml
mutagen.yml.lock
ubuntu-xenial-16.04-cloudimg-console.log