option_settings:
  aws:ec2:vpc:
    VPCId: vpc-07d3e089b9fe90de1
    Subnets: subnet-0d474596474d1dd26,subnet-03c9292414660a83e
    ELBSubnets: subnet-0d474596474d1dd26,subnet-03c9292414660a83e
    AssociatePublicIpAddress: true

  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2

  aws:autoscaling:launchconfiguration:
    EC2KeyName: ec2sample-instance-keypair
    SSHSourceRestriction: tcp, 22, 22, 0.0.0.0/0
